<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.BoardMapper">
    
    <!-- 회원가입 -->
    <insert id="BoardSign" parameterType="kr.smhrd.model.MemberVO">
		insert into memberinfo(userid, userpw, nickname, email) values(#{userid}, #{userpw}, #{nickname}, #{email})    
	</insert>
	
	<select id="MemberList" resultType="kr.smhrd.model.MemberVO">
	    select * from memberinfo where userid=#{userid}
	</select>
	
	<!-- 결과 입력 -->
    <insert id="insertResult" parameterType="kr.smhrd.model.TestVO">
		insert into test_log(userid, agganx, socialanx, sadanx, complexanx, reganx, ma, diagnosis_result) values(#{userid}, #{agganx}, #{socialanx}, #{sadanx}, #{complexanx}, #{reganx}, #{ma}, #{diagnosis_result})    
	</insert>
	
    <select id="selectResult" resultType="kr.smhrd.model.TestVO">
	    select * from (SELECT row_number()over(order by testidx desc) as recent ,tl.* FROM test_log as tl where userid = #{userid}) tmp where recent = 1;
	</select>
	
    <select id="selectbox" resultType="String">
	    select rawdata from (SELECT row_number()over(order by idx desc) as recent,idx, rawdata FROM testdata where userid =#{userid}) as tmp where recent = 1;
	</select>
	
    <select id="selectimg" resultType="String">
	    select image from (SELECT row_number()over(order by idx desc) as recent,idx, image FROM testdata where userid =#{userid}) as tmp where recent = 1;
	</select>
	
</mapper>
